:root {
    --primary: #0A2640;
    --secondary: #65E4A3;
    --light-blue: #1C3D5B;
    --manrope:'Manrope', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --transition: all .4s ease-in-out;
}